:javascript
  $(function() {
    var addresspicker = $( "#addresspicker" ).addresspicker({
      componentsFilter: 'country:US'
    });
    var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
      regionBias: "us",
      updateCallback: showCallback,
      reverseGeocode: true,
      mapOptions: {
        zoom: 14,
        center: new google.maps.LatLng(#{@event.location.lat}, #{@event.location.lon}),
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },
      elements: {
        map:      "#map",
        lat:      "#lat",
        lng:      "#lng",
        street_number: '#street_number',
        route: '#route',
        locality: '#locality',
        administrative_area_level_2: '#administrative_area_level_2',
        administrative_area_level_1: '#administrative_area_level_1',
        country:  '#country',
        postal_code: '#postal_code',
        type:    '#type'
      }
    });

    var gmarker = addresspickerMap.addresspicker( "marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker( "updatePosition");

    function showCallback(geocodeResult, parsedGeocodeResult){
      $('#callback_result').text(JSON.stringify(parsedGeocodeResult, null, 4));
    }
    // Update zoom field
    var map = $("#addresspicker_map").addresspicker("map");
    google.maps.event.addListener(map, 'idle', function(){
      $('#zoom').val(map.getZoom());
    });

    $('#event_start_time').datetimepicker({
                                           dateFormat: 'yy-mm-dd',
                                           timeFormat: 'HH:mm:ss z'
                                         });
  });
%row
  .text-center.well
    .map-wrapper
      #map{style: "height:300px; width:100%;"}
      #legend You can drag and drop the marker to the correct location
%row.span10
  = form_for [@group, @event] do |e|
    .span2
      %h4 Details
      = e.label 'Address'
      %input#addresspicker_map

      = e.label :name
      = e.text_field :name

      = e.label :location_name
      = e.text_field :location_name

      = e.label :description
      = e.text_area :description
    .span2.offset1
      %h4 Date and Time
      = e.label :start_time
      = e.text_field :start_time

      = label_tag :duration, "Duration Hours"
      = e.number_field :duration, step: 0.25, value: @event.duration / 3600

    .span2.offset1
      %h4 Upload Picture
      = e.file_field :picture

      = e.hidden_field :created_by_id, value: current_user.id
      = e.hidden_field :group_id, value: @group.id


      = hidden_field :location, :lat, id: "lat"
      = hidden_field :location, :lon, id: "lng"

      %h4 Tags
      = e.collection_check_boxes(:tag_ids, Tag.all, :id, :name)


    .actions.span2.offset1
      = e.submit 'Save'

