:javascript
  function initialize() {
    var latLng = new google.maps.LatLng(#{@event.location.lat}, #{@event.location.lon});
    var mapOptions = {
      center: latLng,
      zoom: 17
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title:"#{@event.name}"
      });
  }


  google.maps.event.addDomListener(window, 'load', initialize);

.row.text-center
  #map{style: "width: 100%; height: 200px;"}

.row.well.text-center
  .span4
    %h2= @event.name
    %table{style: "margin: 0 auto"}
      %tr
        %td
          %i.text-warning= "#{@event.start_time.strftime("%b %d %Y")}"
          %i.text-success= "|| #{@event.start_time.strftime("%-l:%M%P")}"
          %i.text-error= "- #{@event.end_time.strftime("%-l:%M%P")}"
      %tr
        %td
          %i= "Duration: #{distance_of_time_in_words(@event.duration)}"
      %tr
        %td
          %i= "Created by: #{@event.created_by.full_name}"
      %tr
        %td
          %button.btn.btn-mini.btn-info= link_to "Edit", edit_group_event_path(@group, @event)
          %button.btn.btn-mini.btn-warning= link_to "Destroy", group_event_path(@group, @event), method: 'delete'
  .span5{style: "height:150px; overflow-y: auto;"}
    %p= @event.description
  %p= image_tag @event.picture.url(:medium)
